body {
   background-color: #f2f2f2;
   text-align: center;
}

img {
  max-width: 60%;
  height: auto;
}

@media only screen and (max-width: 480px) {
  img {
    width: 200%;
    height: auto;
  }
}



body {
   display: flex;
   align-items: center;
   justify-content: center;
}


h1 {
   font-family: 'Nunito', sans-serif;
   font-size: 72px;
   margin-top: 100px;
}


