body {
   background-color: #f2f2f2;
   text-align: center;
}

img {
   width: 100%;
   height: auto;
}

img {
   margin: 0 auto;
}

body {
   display: flex;
   align-items: center;
   justify-content: center;
}


h1 {
   font-family: 'Nunito', sans-serif;
   font-size: 72px;
   margin-top: 100px;
}


